body {
    background: url('https://wallpapercave.com/wp/wp12609256.jpg');
    background-repeat: no-repeat;
    background-size: 1900px;
}

main {
    width: 1000px;
    padding: 10px;
    height: 750px;
    background-color: none;
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;

}

section {
    width: 700px;
    height: 270px;
    background-color: #000016;
    color: white;
    margin: 0 auto;
    margin-top: 200px;
    border-radius: 30px;
    border: 3px solid #ff946c;

}

#formata {
    border-radius: 40px;
    margin-left: 18px;
}