body {
    background: url('https://arweave.net/khYrdyyCrA_XOUAVexkftW4BlfNaayYsE-Adn_TA1YI');
    background-repeat: no-repeat;
    background-position-x: center;
    color: white;
}

header {
    padding: 20px;
    text-align: center;
}

nav {
    padding: 20px;
    background-color: #cd853f;
    margin-top: 5px;

}

main {
    width: 1100px;
    padding: 10px;
    height: 600px;
    background-color: none;
    margin: auto;
    margin-top: 5px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    

}

footer {
    width: 100px;
    background-color: white;
    color: white;
    margin: 0 auto;
    text-align: center;
    margin-top: 300px;
    padding: 5px;
    border-radius: 30px;


}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;

}

a:hover {
    text-decoration: none;
    color: purple;

}

img {
    border-radius: 90px;
    border: 3px solid purple;
}

#box1 {
    margin-top: 15px;
    width: 400px;
    height: 400px;
    line-height: 20px;
    background-color: #000016;
    border-radius: 20px;
    font-size: 15px;
    border: 3px solid purple;
    opacity: 0.9;
}
#box2 {
    margin-top: 15px;
    width: 400px;
    height: 770px;
    line-height: 20px;
    background-color: #000016;
    border-radius: 20px;
    font-size: 15px;
    margin-left: 20px;
    border: 3px solid purple;
    opacity: 0.9;
}
#box3 {
    margin-top: 15px;
    width: 400px;
    height: 1000px;
    line-height: 20px;
    background-color: #000016;
    border-radius: 20px;
    font-size: 15px;
    margin-left: 20px;
    border: 3px solid purple;
    opacity: 0.9;
}
